@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.cabecera {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 127, 172, 1) 46%, rgba(0, 212, 255, 1) 100%);
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 152, 219, 1) 18%, rgba(0, 212, 255, 1) 100%); */
    border: solid 2px #464646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
}

.titulo {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(161, 160, 160, 1) 84%);
    /* background: rgb(238, 174, 202); */
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    /* border: solid 2px rgb(104, 100, 45); */


    height: 127px;
    padding: 1%;

    position: relative;
    text-align: center;
    box-shadow: inset 0px 0px 20px 20px rgb(0 0 0 / 15%);
}

.titulo img {

    width: auto;
    height: 100%;
    /* padding: 1%;
    box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 35px; */

}

#logo a img {
    width: 100px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 9px rgb(255 255 255 / 40%);
}


#menu {
    font-size: 32px;
}

#menu input {
    display: none;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
    position: relative;
    transition: background-color 0.2s linear;
}

#menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    /* Color del texto */
    text-decoration: none;
    transition: background-color 0.2s linear;
}

#menu ul li:hover {
    background-color: white;
    border-radius: 6px;
    border: solid 1px;
    box-shadow: 0px 8px 17px 0px;
}

#menu ul .actividades:hover {
    background-color: white;
    border-radius: 6px;
    border: solid 1px;
    box-shadow: 0px 8px 17px 0px;


}

#menu ul li a:hover {
    font-weight: bold;
    color: #2980b9;
}

#menu ul .actividades a:hover {
    font-weight: bold;
    color: #2980b9;

}

#menu ul ul {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2980b9;
    /* Color de fondo del submenú */
    border-top: 2px solid #2c3e50;
    /* Color del borde superior del submenú */
}

#menu ul ul li {
    display: block;
}

#menu ul li:hover>ul {
    display: inherit;

}

/* #menu ul li a:hover */
#menu ul ul li:hover {
    background-color: white;
    border-radius: 6px;
    border: solid 1px;
    box-shadow: 0px 8px 17px 0px;
}

#menu ul ul a {
    color: #000
        /* Color del texto del submenú */
}

#menu ul ul a:hover {
    font-weight: bold;
    color: #2980b9;
    /* Color al pasar el ratón sobre el submenú */
}

#menu ul .actividades a {
    color: white;
}

#menu ul .actividades a:hover {
    font-weight: bold;
    color: #2980b9;
}

/*Mantener el hover de actividades activado*/
#menu ul li:hover>a.act {
    font-weight: bold;
    color: #2980b9;
}



.barrabusqueda .cont-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.cont-1 input#search {
    height: 49px;
    background: #2b303b;
    border: 2px solid white;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.cont-1 input#search::-webkit-input-placeholder {
    color: #ffffff;
}

.cont-1 input#search:hover::placeholder {
    color: #161616;
    /* Estilo del placeholder cuando se realiza hover */
}

.cont-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 15px;
    z-index: 1;
    color: #03d1fc;
}

.cont-1 input#search:hover,
.cont-1 input#search:focus,
.cont-1 input#search:active {
    outline: none;
    background: #ffffff;
}


/* Estilo del contenido de la página*/

div.contenido {


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 3%;
    /* background-color: #FAD961;
    background-image: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%); */
    /* background-color: #FBAB7E;
    background-image: linear-gradient(0deg, #FBAB7E 0%, #F7CE68 100%); */
    background-image: linear-gradient(to top, rgb(242, 112, 156), rgb(255, 148, 114));


}

div.tarjeta {
    width: 272px;
    height: 400px;
    margin: 2%;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido .tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
}


div.contenido .tarjeta #imagen_tarjeta {
    display: flex;
    justify-content: center;
}

div.contenido .tarjeta img {
    width: 70%;
    margin: auto;
}
.contenido .tarjeta #info_tarjeta {
    font-weight: bold;
}
.contenido .tarjeta #enlace_tarjeta a {
    text-decoration: none;
}

.contenido .tarjeta #enlace_tarjeta a:hover {

    color: #ff0019;
    text-decoration: underline;
    font-weight: bold;
}

/* Estilo del footer */
/* Estilos generales para el footer */


/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #14284f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-items: start;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    border-radius: 35px;
    box-shadow: 0px 0px 20px 1px rgb(255 255 255 / 60%);
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

/* .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
} */
.pie-pagina .fa-facebook:hover {
    color: #1877f2 !important;
    /* Cambia el color al pasar el ratón sobre Facebook */
}



.pie-pagina .fa-instagram:hover {
    color: #bc2a8d !important;
    /* Cambia el color al pasar el ratón sobre Instagram */
}

.pie-pagina .fa-twitter:hover {
    color: #1da1f2 !important;
    /* Cambia el color al pasar el ratón sobre Twitter */
}

.pie-pagina .fa-youtube:hover {
    color: #c4302b !important;
    /* Cambia el color al pasar el ratón sobre YouTube */
}


.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 430px) {

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .titulo {
        height: 100px;
    }

    .titulo img {
        width: 290px;
        object-fit: contain;
    }

    .barrabusqueda {
        /* display: none; */
        position: absolute;
        top: 139px;
        left: 110px;
        z-index: 5;
    }

    .cont-1 input#search {
        font-size: 9pt;
        width: 172px;
    }

    .cabecera {
        flex-direction: row-reverse;
    }

    #menu {
        display: block;
        position: relative;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menu ul li {
        display: block;
        position: relative;
        margin: 5px 0;
    }

    #menu ul li a {
        display: block;
        padding: 5px 10px;
        color: #fff;
        /* Color del texto */
        text-decoration: none;
    }

    #menu ul ul {
        top: 100%;
        left: 372px;
        padding: 0;
        margin: 0;
        font-size: 24px;
        width: auto;
    }


    #menu .act {
        pointer-events: none;
    }

    #menu input {
        display: block;
        width: 40px;
        height: 32px;
        position: relative;
        top: 15px;
        left: 15px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    #menu span {
        display: block;
        width: 33px;
        height: 4px;
        top: -12px;
        left: 19px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menu span:first-child {
        transform-origin: 0% 0%;
    }

    #menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menu input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #dfdfdf;
    }

    /*
     * But let's hide the middle one.
     */
    #menu input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu input:checked~ul {
        transform: none;
    }


    #menu ul {
        position: absolute;
        width: 370px;
        margin: -83px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        /* background: #ededed; */
        border: solid 2px #464646;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 127, 172, 1) 46%, rgba(0, 212, 255, 1) 100%);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #logo {
        z-index: 5;
    }

    #logo a img {

        box-shadow: 0 0 0 0;
    }

    #menu ul .actividades a:hover {
        font-weight: bold;
        color: #2980b9;

    }
}